*{
margin:0;
padding:0;
box-sizing:boder-box;
}
body{
width:100%;
}
a{
text-decoration:none;
color:white;
}
h3{
text-align:center;
}
h3 strong{
color:red;
}
header{
display:flex;
background-color:black;
width:100%;
align-content:center;
align-items:center;
padding:12px;
position:fixed;
top:0;
z-index:99;
}
.navbar{
display:flex;
justify-content:flex-end;
gap:7px;
width:80%;
}
.navbar a:hover{
color:red;
}
.logo{
color:white;
font-size:1.2rem;
border:bottom;
}
/* MAIN 01 */
.hero{
width:100%;
border-radius:6px;
background-color:green;
margin:8px;
}
.hero h1{
text-align:center;
font-size:1.2rem;
font-weight:bolde;
}
.main-content p{
font-size:1.1rem;
margin:7px;
display:flex;
justify-content:center;
text-align:center;

}
.main-content{
display: flex;

}
.main-content img{
width:200px;
margin:4px;
padding:3px;
backface-visibility:0.7;
border-radius:12px;
}
h2{
text-align:center;
}
/* SOBRE */
.sobre{
width:100%;
border-radius:6px;
background-color:green;
margin:8px;
}
.sobre p{
font-size:12px;
}

/* BARRAS */
.barras{
width:100%;
border-radius:6px;
background-color:green;
margin:8px;;
}
.barra{
margin:8px;
border-radius:6px;
background-color:green;
padding:6px;
gap:7px;
}
.barrai{
display:flex;
gap:6px;
align-items:center;
justify-content:center;
align-content:center;
}
.barra p{
padding-top:12px;
}
/* FOOTER */
footer h4{
text-align:center;

}
 
footer p{
text-align:center;
}
.redes{
  text-align: center;
  padding: 1rem 0;
}
.redes img{
width: 38px;
  margin: 7px;
  padding: 7px;
}

/* PRODUTOS */
.produtos{
width:100%;
border-radius:6px;
background-color:green;
margin:8px;
}
.produto{
border-radius:6px;
background-color:green;
}
.btn{
background-color:blue;
padding:4px;
border-radius:6px;
}

/* RESPONSIVIDADE */
 @media(max-width:475px){

.barras {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .produtos {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
grid-gap:7px;

    }
body{
max-width:400px;
}
}
